<div class="cb-container">
    @* <input type="checkbox" *@
    @*        id="@_cbId" *@
    @*        @bind-value="@IsChecked" *@
    @*        class="@_cssClasses" *@
    @*        style="@CheckboxStyles" *@
    @*        @bind-value:after="CheckboxChanged"> *@
    <InputCheckbox Value="IsChecked"
                   ValueChanged="IsCheckedChanged"
                   ValueExpression="For"
                   id="@_cbId"
                   class="@($"{_cssClasses} {_validityCssClass}")"
                   style="@CheckboxStyles" />
    
    @if (!string.IsNullOrEmpty(Label))
    {
        <label @onclick="CheckboxChanged"
               for="@_cbId"
               class="@_labelCssClasses"
               style="@LabelStyles">
            @Label
        </label>
    }
</div>
