<div class="@ColSize position-relative">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label>@Label</label>
    }

    <div class="input-group">
        <InputText Value="@_value"
                   ValueChanged="ValueChanged"
                   ValueExpression="For"
                   type="@Type"
                   placeholder="@Placeholder"
                   class="@_cssClasses"
                   @oninput="OnInput"
                   @onblur="OnBlur"/>

        @if (ShowClearIcon && !string.IsNullOrEmpty(_value))
        {
            <span class="clear-icon" @onclick="ClearText">
                ✖️
            </span>
        }
    </div>
</div>